<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <connectionStrings>
    <add name="KsmedEntities" connectionString="metadata=&#xD;&#xA;res://KProcess.Ksmed.Data/KL2.csdl|&#xD;&#xA;         res://KProcess.Ksmed.Data/KL2.ssdl|&#xD;&#xA;         res://KProcess.Ksmed.Data/KL2.msl;&#xD;&#xA;         provider=System.Data.SqlClient;&#xD;&#xA;         provider connection string=&quot;Data Source=localhost;Initial Catalog=kl2-suite;User ID=KL2User;Password=B4A60FC44BCBEDC6267B80118219D235;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>