<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="DataSource" value="(LocalDB)\KL2" />
    <add key="InitialCatalog" value="KProcess.KL2" />
    <!-- Configuration du module SFTP -->
    <add key="SFTP_Server" value="127.0.0.1" />
    <add key="SFTP_Port" value="22" />
    <add key="SFTP_User" value="kl2" />
    <add key="SFTP_Password" value="kl2" />
    <add key="SFTP_PublishedFilesDirectory" value="/PublishedFiles" />
    <add key="SFTP_UploadedFilesDirectory" value="/UploadedFiles" />
  </appSettings>
</configuration>