<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="ErrorReportEmail" value="@tekigo.com" xdt:Transform="Insert" />

    <add key="SharedDatabaseIsEnabled" value="false" xdt:Transform="Insert" />
    <add key="SharedDatabaseLockTimeout" value="300" xdt:Transform="Insert" />
    <add key="SharedDatabaseLockUpdateFrequency" value="60" xdt:Transform="Insert" />
    <add key="ApiServerUri" value="http://localhost:8081" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FileServerUri" value="http://localhost:8082" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <system.net xdt:Transform="Insert">
    <mailSettings>
      <smtp from="rboyer@tekigo.com">
        <network host="stella" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  
</configuration>