<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="DataSource" value="(LocalDb)\KL2" />
    <add key="DataBase" value="KProcess.KL2" />
    <add key="UserId" value="fdf" />
    <add key="Password" value="dsfd" />
    <add key="UseWindowsAuthentication" value="true" />
  </appSettings>
</configuration>