<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="KsmedEntities" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="metadata=&#xD;&#xA;         res://KProcess.Ksmed.Data/KL2.csdl|&#xD;&#xA;         res://KProcess.Ksmed.Data/KL2.ssdl|&#xD;&#xA;         res://KProcess.Ksmed.Data/KL2.msl;&#xD;&#xA;         provider=System.Data.SqlClient;&#xD;&#xA;         provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=KProcess.KL2;User ID=KL2User;Password=B4A60FC44BCBEDC6267B80118219D235;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>  
  
  <appSettings>
    <!-- Configuration du module FTP -->
    <add key="Ftp_Server" value="164.132.194.85" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Ftp_User" value="guest" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Ftp_Password" value="G4waWlvo" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <!-- Configuration du module SFTP -->
    <add key="SFtp_Server" value="127.0.0.1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SFtp_User" value="kl2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SFtp_Password" value="kl2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!-- Configuration du module Local -->
    <add key="Local_PublishedFilesDirectory" value="C:\Ftp\PublishedFiles" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Local_UploadedFilesDirectory" value="C:\Ftp\UploadedFiles" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  
</configuration>